@import "reset-context";

body {
    reset-context();

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    margin: 0;
    color: #222222;
    background-color: #ffffff;
}
